<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			

			<div class="panel-body">
				<div class="row">
					<div class="col-lg-12">
						<%= form_for @event, :html => {:role => "form"} do |f| %>
						<div class="form-group">
						<%= f.label :name %>

							<%= f.select(:name, ['Encontro da Célula', 'GD','GDD','Culto da Manhã','Culto da Noite','IDE', 'Oração das 5:30 HR', 'Oração das 7:00 HR'], {}, { :class => 'form-control' }) %>
						</div>
						<div class="form-group">
						<%= f.label :event_day %>

							<%= f.select(:event_day, ['Segunda', 'Terça','Quarta','Quinta','Sexta','Sábado'], {}, { :class => 'form-control' }) %>
						</div>
						<div class="form-group">
						<%= f.label :schedule %>

							<%= f.text_field :schedule, {:class => "form-control schedule"} %>
							
						</div>

						<div class="form-group">
						<%= f.label :user_ids %>

							<%= f.collection_select :user_ids, @users, :id, :name, {}, {:multiple => true, :class => "multiple-select form-control"} %>
						</div>
						<div class="form-group">

							<%= f.submit 'Enviar', :class => 'btn btn-default'  %>
						</div>
						<% end %>
						<hr/>
						<%= link_to "Voltar", :controller => "events", :action => "index" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

