<h1>Role</h1>
<div class="container">
	<div class="list-group">
		<a href="#" class="list-group-item active">
			<strong>Nome: </strong><%= @role.name %>
		</a>

	</div>
	<hr/>
	<%= link_to "Voltar", :controller => "roles", :action => "new" %>
</div>





