<!DOCTYPE html>
<html>
<head>
	<title>Comuna</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/select2.min.css" />
	<%= csrf_meta_tags %>
</head>
<body>

	<%= yield %>

</body>
</html>
